@import "./../../../styles/utils/variables";

.AppInput {
  @extend %elemStyle;

  padding: 10px 15px;
  transition: 200ms;

  &:hover {
    color: white;

    &::placeholder {
      color: white;
    }
  }

  &::placeholder {
    color: var(--placeholder-color);
  }
}
