.Loader {
  --height-of-loader: 5px;

  display: block;
  width: 98%;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: var(--bgc);
  position: relative;
  overflow: hidden;

  margin: 0 auto var(--gap);

  visibility: hidden;
  opacity: 0;

  &_active {
    visibility: visible;
    opacity: 1;

    &::before {
      animation: moving 1s ease-in-out infinite;
    }
  }

  &::before {
    content: "";
    position: absolute;
    background: var(--prime-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    pointer-events: none;
  }
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0%;
    // right: 0;
    // left: unset;
    translate: 100% 0;
  }
}
