.inputWrapper {
  position: relative;
}

.AppInput {
  background-color: var(--bgc);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  backdrop-filter: blur(--blur);
  color: var(--text-color);
  transition: 200ms;

  width: 100%;
  padding: 10px 15px;
  transition: 200ms;

  &:hover {
    color: var(--text-color);

    &::placeholder {
      color: var(--text-color);
    }
  }

  &:focus {
    &::placeholder {
      color: var(--text-color);
    }
  }

  &::placeholder {
    transition: 200ms;
  }
}

.resultCount {
  position: absolute;
  top: 50%;
  right: 10px;
  translate: 0 -50%;
  font-weight: bold;
  color: var(--text-color);
}
