@import "./utils/reset";
@import "./utils/variables";

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  padding: 0 10px;
}

.error-message {
  color: red;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}