:root {
  --prime-color: #1e90ff;
  --secondary-color: #ff5a52;
  --placeholder-color: #808080;
  --gap: 10px;
  --border-radius: 10px;
  --blur: 15px;
  --header-height: 70px;
}

%elemStyle {
  background-color: var(--bgc);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  backdrop-filter: blur(--blur);
  color: var(--text-color);
  transition: 200ms;

  &:hover {
    border-color: transparent;
    background-color: var(--prime-color);
    color: white;
  }

  &:active {
    background-color: var(--secondary-color);
    scale: 0.97;
    transition: 100ms;
  }
}

body[data-theme="light"] {
  --text-color: #242220;
  --text-hover-color: #ffffff;
  --bgc: rgba(255, 237, 224, 0.56);
  --border-color: rgba(245, 239, 235, 0.4);
}

body[data-theme="dark"] {
  --text-color: #ffffff;
  --text-hover-color: #000000;
  --bgc: rgba(15, 9, 12, 0.56);
  --border-color: rgba(45, 17, 17, 0.8);
}
