@import "./../../../styles/utils/variables";

.AppButton {
  @extend %elemStyle;

  cursor: pointer;
  padding: 10px 15px;

  &:hover {
    background-color: var(--prime-color);
    color: white;
  }
}
