.AppTable {
  width: 100%;
  border-radius: 10px;

  th,
  td {
    background-color: var(--bgc);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    backdrop-filter: blur(var(--blur));
    
    padding: 5px 10px;
  }

  th {
    background-color: var(--prime-color);
    color: white;
  }

  ul {
    padding-left: 20px;
  }
}
