.AppTable {
  width: 100%;
  border-radius: 10px;

  th,
  td {
    background-color: var(--bgc);
    border: 1px solid var(--border-color);
    backdrop-filter: blur(var(--blur));

    padding: 5px 10px;
  }

  th {
    background-color: var(--prime-color);
    color: white;
  }

  ul {
    padding-left: 20px;
  }

  th:first-child {
    border-radius: var(--border-radius) 0 0 0;
  }

  th:last-child {
    border-radius: 0 var(--border-radius) 0 0;
  }

  tr:last-child {
    td:first-child {
      border-radius: 0 0 0 var(--border-radius);
    }

    td:last-child {
      border-radius: 0 0 var(--border-radius) 0;
    }
  }
}
